{% extends 'base.html' %}
{% block title %}
Welcome to CW Cloud Test Platform [CTP]- Index
{% endblock %}

{% block content %}

<div class="container main-container" style="width: 50%; text-align:center; margin-top: 10%;">
    <div class="row heading">
        <h1>Welcome to CW Test Platform [CTP]</h1>
        <hr/>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/run_tests" method="post">
                <div class="form-group">
                    <label for="file_path" class="form-label">Load JSON File:</label>
                    <input class="form-control" type="file" id="file_path" name="file_path" accept=".json" required>
                </div>
                <br/>
                <div class="form-group">
                    <label for="test_case">Select Test Case:</label>
                    <select class="form-select" name="test_case" id="test_case">
                        {% for test_case in test_cases %}
                        <option value="{{ test_case }}">{{ test_case.upper() }}</option>
                        {% endfor %}
                    </select>
                </div>
                    <!-- Modal -->
                    <div class="modal" tabindex="-1" role="dialog" id="myModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalTitle">Test Case Details: </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="testCaseDetails">

                                    <!-- Data will be displayed here -->

                                </div>

                            </div>
                        </div>
                    </div>

                <br>
                <div>
                    <button class="btn btn-success" type="submit" name="start_test" id="start_test">Start Test</button>
                </div>

            </form>


        </div>
    </div>


    <br/> <br/>


    <div id="msg" style="text-align: center;">
        {% with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-success" role="alert">{{ message }}</div>

        {% endfor %}

        {% endif %}
        {% endwith %}


    </div>
    <div style="text-align: center;">
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}

        {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock %}